:root {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
